body {
  padding-top: 3.5em; }

.main-hero-text {
  font-size: 3rem;
  margin-top: .5rem; }
  @media (min-width: 62em) {
    .main-hero-text {
      font-size: 5rem; } }

.main-popular-polls {
  background-color: #dcdada;
  border-radius: 1rem;
  padding: 2rem; }

.main-single-poll {
  border-bottom: solid 1px;
  margin-bottom: 1rem; }
  .main-single-poll:last-of-type {
    border-bottom: 0;
    margin-bottom: 0; }
  @media (min-width: 62em) {
    .main-single-poll {
      border-bottom: 0;
      border-right: solid 1px; }
      .main-single-poll:last-of-type {
        border-right: 0; } }

.poll-chart {
  height: auto;
  width: 100%; }