<div class="container">
    <hgroup class="m-b-md">
        <h1 class="main-hero-text text-center">Welcome to <span class="text-primary">DeVoter</span></h1>
        <h3>A site where you use De Votes to determine which option is <span class="text-primary">the best</span>!</h3>
    </hgroup>



    <div class="main-popular-polls">
        <h2>Hot polls</h2>
        <div class="row">
            <div class="col-lg-4 main-single-poll" ng-repeat="poll in topPolls">
                <poll data="poll"></poll>
            </div>
        </div>
    </div>
</div>