<!--
TODO: add a form to create a poll
    1. Name
    2. Options
    3. Expiration date
    4. Private (bool)
 -->
<div class="container">
    <h1 class="text-center">New poll</h1>

    <div class="col-md-8 col-md-offset-2">
        <!-- TODO: include error messages based on which input is invalid -->

        <form name="newPollForm">
            <fieldset class="form-group">
                <label class="poll-name-input">
                    <h2>Name</h2>
                    <input type="text" name="name" ng-minlength="5" ng-maxlength="100" required
                           placeholder="{{examplePoll.name}}" class="form-control"
                           ng-model="newPoll.name">
                </label>
            </fieldset>

            <div>
                <h2>Options</h2>
                <ul>
                    <li ng-repeat="option in newPoll.options">
                        <label>
                            <input type="text" name="option{{$index}}" ng-maxlength="100" required
                                   placeholder="{{examplePoll.options[$index].name}}"
                                   class="form-control" ng-model="newPoll.options[$index].name">
                        </label>
                        <button type="button" ng-click="removeOption($index)">-</button>
                        <!-- TODO: improve the visuals of the delete button -->
                    </li>
                </ul>
                <button type="button" ng-click="addNewOption()" ng-disabled="newPoll.options.length >= 10"
                        class="form-control btn btn-secondary">Add new option</button>
            </div>

            <div class="m-t">
                <label>
                    <input type="checkbox" name="private" class="checkbox-inline" ng-model="newPoll.private">
                    Private
                </label>
            </div>

            <div>
                Expiry date
                <input type="text" data-field="datetime" readonly
                       ng-model="newPoll.expDate" class="form-control date-picker">

                <div id="dtBox"></div>
                <script>
                    var dateTimePicker = $("#dtBox").DateTimePicker();
                    //setDateTimeStringInInputField(new Date());
                    console.log($.DateTimePicker);
                </script>
            </div>

            <div class="m-t-md">
                <input type="submit" value="Create" class="form-control"
                       ng-disabled="newPollForm.$invalid || newPll.options.length < 2">
            </div>
        </form>
    </div>
</div>
