<div ng-show="!data">Poll couldn't be retrieved. We're working on fixing this issue.</div>

<div ng-show="data">
    <h3><a ui-sref="view-poll({pollID:data.id})">{{data.name}}</a></h3>

    <!-- TODO: add parameter to limit it to around col-md-6 -->
    <div class="text-center" ng-class="{'col-xs-6 col-xs-offset-3': fullscreen}">
        <cjs-pie dataset="dataset" class="poll-chart"></cjs-pie>
    </div>

    <!-- TODO: param to show options as links -->
    <div class="col-xs-12">
        Options:
        <ul>
            <li ng-repeat="option in data.options">
                {{option.name}} - {{option.amount}} ({{ (option.amount / data.totalVotes * 100) | percent}}%)
            </li>
        </ul>
    </div>

    <!-- TODO: add expiration date if should be shown (another parameter) -->
</div>