<div ng-show="!data">Poll couldn't be retrieved. We're working on fixing this issue.</div>

<div ng-show="data">
    <h3><a ui-sref="view-poll({pollID:data.id})">{{data.name}}</a></h3>

    <!-- This split is done because Chart.js would size differently is a style was applied
        via ng-class -->
    <div class="text-center col-xs-12 col-lg-6 col-lg-offset-3" ng-show="fullscreen">
        <canvas class="chart chart-pie"
                chart-data="optionsData" chart-labels="optionsLabels"></canvas>
    </div>

    <div class="text-center" ng-show="!fullscreen">
        <canvas class="chart chart-pie"
                chart-data="optionsData" chart-labels="optionsLabels"></canvas>
    </div>

    <!-- TODO: param to show options as links -->
    <div class="col-xs-12">
        Options:
        <ul class="poll-options">
            <li ng-repeat="option in data.options" ng-show="!data.hasVoted">
                <a ng-click="addVote($index)">
                    {{option.name}} - {{option.amount}} ({{ (option.amount / data.totalVotes * 100) | percent}}%)
                </a>
            </li>

            <li ng-repeat="option in data.options" ng-show="data.hasVoted">
                {{option.name}} - {{option.amount}} ({{ (option.amount / data.totalVotes * 100) | percent}}%)
            </li>
        </ul>

        <div class="text-muted">
            <p class="text-muted" ng-show="data.hasVoted">Already voted</p>
            <p class="text-info" ng-show="!data.hasVoted">Not voted yet</p>
        </div>

        <p ng-show="data.expDate && fullscreen">Poll expires: {{data.expDate | date:'dd-MM-yyyy HH:mm'}}</p>
    </div>
</div>